h1 {
    margin-bottom: 8%;
    margin-top: 2%;
}

label {
    color: #000000;
}
.enviar {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    background: linear-gradient( to right, rgb(12, 159, 218),rgb(10, 153, 115),rgb(86, 10, 187));
    
    }
.card{
	margin-left: 10%;
	margin-right: 10%;
    margin-bottom: 10%;
}

.bg{
    background: linear-gradient(to right, rgb(11, 108, 173),rgb(18, 150, 150));
}
