
.red{
    text-align: center;
    font-family: monospace;
    padding-top: 5%;
}

ul{
    margin: 5%;
    padding-top: 3%;
    padding-bottom: 10%;
    li{
        text-align: left;
        color: white;
        font-size: 3vh;
    }
}